# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# FastAPI
.env


# Node
node_modules/
npm-debug.log
yarn-error.log



# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3
*.db


# Alembic
alembic/versions/

# Testing
.coverage
.pytest_cache/
htmlcov/

# Misc
*.bak
*.tmp
*.temp